//.build/
.build/*.log
.build/*.*.log
.build/Translations/.idea/

.packages/

.test/BackupRestore/.idea/
.test/RSG2_Backup/

# moved files 
rsgallery2.xml
install_rsg2.php
changelog.xml

# python
**/__pycache__
**/*.pyc



