.sidebar-nav {
  overflow-y: hidden;
}
.sidebar-nav ul {
  padding-left: 0rem;
}
.sidebar-nav li {
  padding: 0;
}
.sidebar-nav li a {
  padding: 0 0.12rem 0 0.12rem;
}
.sidebar-nav li a::before {
  display: none;
}

#j-toggle-sidebar {
  display: none;
}

/*--- One column on small screens ------*/
.flex-main-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .flex-main-row {
    justify-content: space-around;
  }
}
@media screen and (max-width: 500px) {
  .flex-main-row {
    flex-direction: column;
  }
}

/*--- sections repair / danger ------*/
.icons-panel {
  display: block;
  max-width: 15em;
  margin-bottom: 10px;
}
.icons-panel .icons-panel-info {
  margin: 10px;
  max-width: 20em;
}
@media (prefers-color-scheme: dark) {
  .icons-panel .icons-panel-info {
    color: lightgrey;
  }
}
@media (prefers-color-scheme: dark) {
  .icons-panel .icons-panel-title {
    color: lightgrey;
  }
}
.icons-panel .icons-panel-title .icons-panel-title header {
  min-height: 2em;
}
.icons-panel .rsg2Zone {
  padding: 5px;
  font-size: large;
  font-weight: bold;
  border: 3px solid #001a00;
  border-radius: 2px 2px 0 0;
  color: white;
  background-color: #001a00;
}
@media (prefers-color-scheme: dark) {
  .icons-panel .rsg2Zone {
    color: lightgrey;
  }
}
.icons-panel .rawDbZone {
  padding: 5px;
  font-size: large;
  font-weight: bold;
  border: 3px solid #995400;
  border-radius: 2px 2px 0 0;
  color: white;
  background-color: #995400;
}
@media (prefers-color-scheme: dark) {
  .icons-panel .rawDbZone {
    color: lightgrey;
  }
}
.icons-panel .repairZone {
  padding: 5px;
  font-size: large;
  font-weight: bold;
  border: 3px solid rgb(0, 92.72, 183);
  border-radius: 2px 2px 0 0;
  color: white;
  background-color: rgb(0, 92.72, 183);
}
@media (prefers-color-scheme: dark) {
  .icons-panel .repairZone {
    color: lightgrey;
  }
}
.icons-panel .dangerZone {
  padding: 5px;
  font-size: large;
  font-weight: bold;
  border: 3px solid rgb(156.9733333333, 26.0266666667, 26.0266666667);
  border-radius: 2px 2px 0 0;
  color: white;
  background-color: rgb(156.9733333333, 26.0266666667, 26.0266666667);
}
@media (prefers-color-scheme: dark) {
  .icons-panel .dangerZone {
    color: lightgrey;
  }
}
.icons-panel .upgradeZone {
  padding: 5px;
  font-size: large;
  font-weight: bold;
  border: 3px solid #1a001a;
  border-radius: 2px 2px 0 0;
  color: white;
  background-color: #1a001a;
}
@media (prefers-color-scheme: dark) {
  .icons-panel .upgradeZone {
    color: lightgrey;
  }
}
.icons-panel .developerZone {
  padding: 5px;
  font-size: large;
  font-weight: bold;
  border: 3px solid rgb(0, 36.8985507246, 201);
  border-radius: 2px 2px 0 0;
  color: white;
  background-color: rgb(0, 36.8985507246, 201);
}
@media (prefers-color-scheme: dark) {
  .icons-panel .developerZone {
    color: lightgrey;
  }
}
.icons-panel .devTestZone {
  padding: 5px;
  font-size: large;
  font-weight: bold;
  border: 3px solid rgb(70.725388601, 79.6839378238, 11.3160621762);
  border-radius: 2px 2px 0 0;
  color: white;
  background-color: rgb(70.725388601, 79.6839378238, 11.3160621762);
}
@media (prefers-color-scheme: dark) {
  .icons-panel .devTestZone {
    color: lightgrey;
  }
}
.icons-panel .outdatedZone {
  padding: 5px;
  font-size: large;
  font-weight: bold;
  border: 3px solid rgb(129.056, 97.68, 18.944);
  border-radius: 2px 2px 0 0;
  color: white;
  background-color: rgb(129.056, 97.68, 18.944);
}
@media (prefers-color-scheme: dark) {
  .icons-panel .outdatedZone {
    color: lightgrey;
  }
}
.icons-panel.rsg2 {
  border: 3px solid;
  border-color: #001a00;
  border-radius: 2px 2px 0 0;
}
.icons-panel.rsg2 span.icoMoon {
  color: #001a00;
}
.icons-panel.rsg2 .rsg2-icon-bar a:hover {
  border-color: #001a00;
}
.icons-panel.rawDb {
  border: 3px solid;
  border-color: #995400;
  border-radius: 2px 2px 0 0;
}
.icons-panel.rawDb span.icoMoon {
  color: #995400;
}
.icons-panel.rawDb .rsg2-icon-bar a:hover {
  border-color: #995400;
}
.icons-panel.repair {
  border: 3px solid;
  border-color: rgb(0, 92.72, 183);
  border-radius: 2px 2px 0 0;
}
.icons-panel.repair span.icoMoon {
  color: rgb(0, 92.72, 183);
}
.icons-panel.repair .rsg2-icon-bar a:hover {
  border-color: rgb(0, 92.72, 183);
}
.icons-panel.danger {
  border: 3px solid;
  border-color: rgb(156.9733333333, 26.0266666667, 26.0266666667);
  border-radius: 2px 2px 0 0;
}
.icons-panel.danger span.icoMoon {
  color: rgb(156.9733333333, 26.0266666667, 26.0266666667);
}
.icons-panel.danger .rsg2-icon-bar a:hover {
  border-color: rgb(156.9733333333, 26.0266666667, 26.0266666667);
}
.icons-panel.upgrade {
  border: 3px solid;
  border-color: #1a001a;
  border-radius: 2px 2px 0 0;
}
.icons-panel.upgrade span.icoMoon {
  color: #1a001a;
}
.icons-panel.upgrade .rsg2-icon-bar a:hover {
  border-color: #1a001a;
}
.icons-panel.developer {
  border: 3px solid;
  border-color: rgb(0, 36.8985507246, 201);
  border-radius: 2px 2px 0 0;
}
.icons-panel.developer span.icoMoon {
  color: rgb(0, 36.8985507246, 201);
}
.icons-panel.developer .rsg2-icon-bar a:hover {
  border-color: rgb(0, 36.8985507246, 201);
}
.icons-panel.devTest {
  border: 3px solid;
  border-color: rgb(70.725388601, 79.6839378238, 11.3160621762);
  border-radius: 2px 2px 0 0;
}
.icons-panel.devTest span.icoMoon {
  color: rgb(70.725388601, 79.6839378238, 11.3160621762);
}
.icons-panel.devTest .rsg2-icon-bar a:hover {
  border-color: rgb(70.725388601, 79.6839378238, 11.3160621762);
}
.icons-panel.outdated {
  border: 3px solid;
  border-color: rgb(129.056, 97.68, 18.944);
  border-radius: 2px 2px 0 0;
}
.icons-panel.outdated span.icoMoon {
  color: rgb(129.056, 97.68, 18.944);
}
.icons-panel.outdated .rsg2-icon-bar a:hover {
  border-color: rgb(129.056, 97.68, 18.944);
}

.rsg2-icon-bar {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.rsg2-icon-bar a {
  background-color: white;
  border: 5px solid lightgrey;
}
@media (prefers-color-scheme: dark) {
  .rsg2-icon-bar a {
    background-color: grey;
    border: 5px solid darkgrey;
  }
}
.rsg2-icon-bar a {
  margin: 5px;
  padding: 25px 25px 0px 25px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 2px 2px 1px #888888;
}
.rsg2-icon-bar a:hover {
  text-decoration: none;
}
.rsg2-icon-bar a:active {
  background-color: sandybrown;
}
.rsg2-icon-bar a span.icoMoon {
  margin-right: 22px;
}
.rsg2-icon-bar a .maint-title {
  color: blue;
}
@media (prefers-color-scheme: dark) {
  .rsg2-icon-bar a .maint-title {
    color: lightgrey;
  }
}
.rsg2-icon-bar a .maint-text {
  color: black;
}
.rsg2-icon-bar button {
  background-color: white;
  border: 5px solid lightgrey;
}
@media (prefers-color-scheme: dark) {
  .rsg2-icon-bar button {
    background-color: grey;
    border: 5px solid darkgrey;
  }
}
.rsg2-icon-bar button {
  margin: 5px;
  padding: 25px 25px 0px 25px;
  display: inline-block;
  border-radius: 2px;
  box-shadow: 2px 2px 1px #888888;
}
.rsg2-icon-bar button:hover {
  text-decoration: none;
}
.rsg2-icon-bar button:active {
  background-color: sandybrown;
}
.rsg2-icon-bar button span.icoMoon {
  margin-right: 22px;
}
.rsg2-icon-bar button .maint-title {
  color: blue;
}
@media (prefers-color-scheme: dark) {
  .rsg2-icon-bar button .maint-title {
    color: lightgrey;
  }
}
.rsg2-icon-bar button .maint-text {
  color: black;
}

/*# sourceMappingURL=maintenance.css.map */
