
// thin icons no padding
@import "Rsg2_sidebar";



$break-small: 500px;
$break-large: 800px;

$columnThemes: 'rsg2' green, 'rawDb' darkorange, 'repair' DodgerBlue, 'danger' #df3e3e,
'upgrade' purple, 'developer' #3056ff, 'devTest' #96a918, 'outdated' goldenrod;
$columnThemesNotUsed: 'test' 'outdated';
$panel_border_radius: 2px; // 3px;
$button_border_radius: 2px; // 3px;

/*--- One column on small screens ------*/

.flex-main-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;

  @media screen and (min-width: $break-large) {
    justify-content: space-around;
  }

  @media screen and (max-width: $break-small) {
    flex-direction: column;
  }
}

/*--- sections repair / danger ------*/

.icons-panel {

  display: block;
  max-width: 15em;
  margin-bottom: 10px;

  .icons-panel-info {
    margin: 10px;
    max-width: 20em;
  }

  .icons-panel-title header {
    min-height: 2em;
  }

  @each $theme, $color in $columnThemes {

    .#{$theme}Zone {
      padding: 5px;
      font-size: large;
      font-weight: bold;

      border: 3px solid $color;
      border-radius: $panel_border_radius $panel_border_radius 0 0;
      //border-color: red; // $color;

      color: white;
      background-color: $color;
    }
  }

  @each $theme, $color in $columnThemes {

    @debug "theme: #{$theme}";
    @debug "color: #{$color}";

    &.#{$theme} {
      border: 3px solid;
      border-color: $color;
      border-radius: $panel_border_radius $panel_border_radius 0 0;

      //
      span.icoMoon {
        color: $color;
      }

      .rsg2-icon-bar a:hover {
        border-color: $color;
      }
    }
  }
}

.rsg2-icon-bar {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;

  a {
    background-color: white;

    margin: 5px;
    padding: 25px 25px 0px 25px;
    display: inline-block;

    background-color: white;

    border-radius: $button_border_radius;
    border: 5px solid lightgrey;
    box-shadow: 2px 2px 1px #888888;

    &:hover {
      text-decoration: none;
    }

    &:active {
      background-color: sandybrown;
    }

    span.icoMoon {
      margin-right: 22px;
    }

    .maint-title {
      color: blue;
      //display: inline-block;
    }

    .maint-text {
      color: black;
    }
  }
}

.whatEver {

  background-color: lightgreen;

}


