

.configMatching {

  color: #58a323;
  font-weight:bold;

}

.configNotMatching {

  color:#e52626;
  font-weight:bold;
  background-color: lightyellow;
}

.configValueOldHeader {
  word-wrap: break-word;
  max-width: 20%;

//  background-color: lightcoral;
}

.configValueOld {
  word-wrap: break-word;
  max-width: 20%;

//  background-color: lightblue;
}

