$break-small: 500px;
$break-large: 800px;

$columnThemes: 'rsg2' green, 'rawDb' darkorange, 'repair' DodgerBlue, 'danger' #df3e3e,
      'upgrade' purple, 'developer' #3056ff, 'test' #96a918, 'outdated' goldenrod;
$columnThemesNotUsed: 'test' 'outdated';
$panel_border_radius: 3px 3px 0 0;


/*--- One column on small screens ------*/
/* Large */

.flex-main-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;

  @media screen and (min-width: $break-large) {
    justify-content: space-around;
  }

  @media screen and (max-width: $break-small) {
    flex-direction: column;
  }
}


.rsg2-icon-bar {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  /*	max-width: 10em; /**/
  margin: 5px;
  padding: 5px;
}


/*--- sections repair / danger ------*/

.icons-panel {

/*  border: 1px solid; /**/
/*  border-radius: $panel_border_radius; /**/

  border-radius : 3px;
  display: block;
  max-width: 15em;

  .icons-panel-info {
    margin      : 10px; /**/
    /*	margin-left : 40px; /**/
    max-width   :  20em; /**/
  }

  .icons-panel-title header {
    /* padding: 2em, 1em, 2em, 1em; /**/
    /*	padding: 4em; /**/
    /* padding-top: 1em; /**/
    /* padding-bottom: 1em; /**/
    /* margin-left : 10px; /**/
    min-height: 2em;
  }


  @debug "01 My very own string just because.";

  @each $theme, $color in $columnThemes {

    @debug "theme: #{$theme}";
    @debug "color: #{$color}";

    .#{$theme}Zone {
      border: 3px solid;
      border-color: $color;
      background-color : $color;
      color            : white;

      border-radius: $panel_border_radius;
    }
  }

  @each $theme, $color in $columnThemes {

    @debug "theme: #{$theme}";
    @debug "color: #{$color}";

    &.#{$theme} {
      border: 3px solid;
      border-color: $color;
      border-radius    : 3px 3px 0 0;

    }

  }

}

/* border-radius: $panel_border_radius $panel_border_radius 0 0; /**/

