/*--- One column on small screens ------*/
/* Large */
.flex-main-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .flex-main-row {
    justify-content: space-around;
  }
}
@media screen and (max-width: 500px) {
  .flex-main-row {
    flex-direction: column;
  }
}

.rsg2-icon-bar {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  /*	max-width: 10em; /**/
  margin: 5px;
  padding: 5px;
}

/*--- sections repair / danger ------*/
.icons-panel {
  /*  border: 1px solid; /**/
  /*  border-radius: $panel_border_radius; /**/
  border-radius: 3px;
  display: block;
  max-width: 15em;
}
.icons-panel .icons-panel-info {
  margin: 10px;
  /**/
  /*	margin-left : 40px; /**/
  max-width: 20em;
  /**/
}
.icons-panel .icons-panel-title header {
  /* padding: 2em, 1em, 2em, 1em; /**/
  /*	padding: 4em; /**/
  /* padding-top: 1em; /**/
  /* padding-bottom: 1em; /**/
  /* margin-left : 10px; /**/
  min-height: 2em;
}
.icons-panel .rsg2Zone {
  border: 3px solid;
  border-color: green;
  background-color: green;
  color: white;
  border-radius: 3px 3px 0 0;
}
.icons-panel .rawDbZone {
  border: 3px solid;
  border-color: darkorange;
  background-color: darkorange;
  color: white;
  border-radius: 3px 3px 0 0;
}
.icons-panel .repairZone {
  border: 3px solid;
  border-color: DodgerBlue;
  background-color: DodgerBlue;
  color: white;
  border-radius: 3px 3px 0 0;
}
.icons-panel .dangerZone {
  border: 3px solid;
  border-color: #df3e3e;
  background-color: #df3e3e;
  color: white;
  border-radius: 3px 3px 0 0;
}
.icons-panel .upgradeZone {
  border: 3px solid;
  border-color: purple;
  background-color: purple;
  color: white;
  border-radius: 3px 3px 0 0;
}
.icons-panel .developerZone {
  border: 3px solid;
  border-color: #3056ff;
  background-color: #3056ff;
  color: white;
  border-radius: 3px 3px 0 0;
}
.icons-panel .testZone {
  border: 3px solid;
  border-color: #96a918;
  background-color: #96a918;
  color: white;
  border-radius: 3px 3px 0 0;
}
.icons-panel .outdatedZone {
  border: 3px solid;
  border-color: goldenrod;
  background-color: goldenrod;
  color: white;
  border-radius: 3px 3px 0 0;
}
.icons-panel.rsg2 {
  border: 3px solid;
  border-color: green;
  border-radius: 3px 3px 0 0;
}
.icons-panel.rawDb {
  border: 3px solid;
  border-color: darkorange;
  border-radius: 3px 3px 0 0;
}
.icons-panel.repair {
  border: 3px solid;
  border-color: DodgerBlue;
  border-radius: 3px 3px 0 0;
}
.icons-panel.danger {
  border: 3px solid;
  border-color: #df3e3e;
  border-radius: 3px 3px 0 0;
}
.icons-panel.upgrade {
  border: 3px solid;
  border-color: purple;
  border-radius: 3px 3px 0 0;
}
.icons-panel.developer {
  border: 3px solid;
  border-color: #3056ff;
  border-radius: 3px 3px 0 0;
}
.icons-panel.test {
  border: 3px solid;
  border-color: #96a918;
  border-radius: 3px 3px 0 0;
}
.icons-panel.outdated {
  border: 3px solid;
  border-color: goldenrod;
  border-radius: 3px 3px 0 0;
}

/* border-radius: $panel_border_radius $panel_border_radius 0 0; /**/

/*# sourceMappingURL=maintenance.css.map */
