<div class="icons-panel rsg2">
	<div class="icons-panel-title rsg2Zone">
		<header>RSGallery2 zone</header>
	</div>
	<div class="icons-panel-info ">
		<strong>Native RSGallery2 functions</strong>
	</div>
	<div class="rsg2-icon-bar">
		<div class="rsg2-icon-button-container">
			<a href="/joomla4x/administrator/index.php?option=com_rsgallery2&amp;view=maintslideshows" class="viewConfigSlideshow">
				<figure class="rsg2-icon">
					<span class="icon-equalizer iconMoon00" style="font-size:30px;"/>
					<span class="icon-play iconMoon01" style="font-size:30px;"/>
					<figcaption class="rsg2-text">
						<span class="maint-title">Slideshow configuration</span>
						<!--br-->
						<span class="maint-text">Edit and check the configuration parameters of installed slideshows</span>
					</figcaption>
				</figure>
			</a>
		</div>
	</div>
</div>
