<?xml version="1.0" encoding="utf-8"?>
<config>
	<!-- ... Tab General ................................. -->

	<fieldset
		name="rsgallery2"
		label="COM_CONFIG_RSGALLERY2_FIELDSET_LABEL"
		description="COM_CONFIG_RSGALLERY2_FIELDSET_DESC"
	>
		<!-- needed when more entries are general ...
				field name="intro_text"
                type="editor"
                label="COM_RSGALLERY2_INTRODUCTION_TEXT"
	            description="COM_RSGALLERY2_INTRODUCTION_DESC"
				filter="JComponentHelper::filterText"
				buttons="false"
		/-->

		<field
				id="advancedSef"
				name="advancedSef"
				type="radio"
				default="0"
				label="COM_RSGALLERY2_ADVANCED_SEF"
				description="COM_RSGALLERY2_ADVANCED_SEF_DESC"
				class="btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<!--field
				type="spacer"
				name="spacer_admin"
				hr="true"
		/-->

		<!-- ... block debug section ... -->

		<field
				name="noteAdminSection"
				type="note"
				class="alert alert-primary"
				close="true"
				label="COM_RSGALLERY2_CONFIG_NOTE_DEBUG_SECTION"
				description="COM_RSGALLERY2_CONFIG_NOTE_DEBUG_SECTION_DESC"
		/>

		<field
				id="config_version"
				name="config_version"
				type="hidden"
				default="0.0.0"
		/>

		<field
				id="j3x_merged_cfg_version"
				name="j3x_merged_cfg_version"
				type="hidden"
				default="0.0.0"
		/>

		<field
				id="isDebugBackend"
				name="isDebugBackend"
				type="radio"
				default="0"
				label="COM_RSGALLERY2_DEBUG_BACKEND"
				description="COM_RSGALLERY2_DEBUG_BACKEND_DESC"
				class="btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field
				id="isDebugSite"
				name="isDebugSite"
				type="radio"
				default="0"
				label="COM_RSGALLERY2_DEBUG_SITE"
				description="COM_RSGALLERY2_DEBUG_SITE_DESC"
				class="btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		<field
				id="isDevelop"
				name="isDevelop"
				type="radio"
				default="0"
				label="COM_RSGALLERY2_DEVELOP"
				description="COM_RSGALLERY2_DEVELOP_DESC"
				class="btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>
		
		<!-- Old J3x upgrade info -->
		
		<!-- config state: 0:not upgraded, 1:upgraded,  -1:upgraded and deleted -->
		<field
			id="j3x_config_upgrade"
			name="j3x_config_upgrade"
			type="hidden"
			default="0"
		/>

		<field
			id="j3x_gallery_upgrade"
			name="j3x_gallery_upgrade"
			type="hidden"
			default="0"
		/>

		<field
			id="j3x_image_upgrade"
			name="j3x_image_upgrade"
			type="hidden"
			default="0"
		/>

	</fieldset>

	<!-- ... Tab Upload ................................. -->

	<fieldset
			name="upload"
			label="COM_RSGALLERY2_FIELD_UPLOAD_OPTIONS_VIEW"
			description="COM_RSGALLERY2_FIELD_UPLOAD_OPTIONS_VIEW_DESC"
	>
		<!--field
				type="spacer"
				name="spacer_upload_01"
				hr="true"
		/-->

		<!-- ... block images upload ... -->

		<field name="note_images_upload"
			   type="note"
			   class="alert alert-primary"
			   close="true"
			   label="COM_RSGALLERY2_CFG_IMAGE_MANIPULATION"
			   description="COM_RSGALLERY2_CFG_IMAGE_MANIPULATION"
		/>

		<field
				name="image_width"
				type="text"
				default="800,600,400"
				label="COM_RSGALLERY2_DISPLAY_PICTURE_WIDTH"
				description="COM_RSGALLERY2_DISPLAY_PICTURE_WIDTH_DESC"
				class="">
		</field>
		<field
				name="thumb_size"
				type="text"
				default="120"
				label="COM_RSGALLERY2_THUMBNAIL_SIZE"
				description="COM_RSGALLERY2_THUMBNAIL_SIZE_DESC"
				class="">
		</field>
		<field
				name="thumb_style"
				type="list"
				default="0"
				label="COM_RSGALLERY2_THUMBNAIL_STYLE"
				description="COM_RSGALLERY2_THUMBNAIL_STYLE_DESC"
				class=""
		>
			<option value="0">COM_RSGALLERY2_PROPORTIONAL</option>
			<option value="1">COM_RSGALLERY2_SQUARE</option>
		</field>
		<field
				name="jpegQuality"
				type="text"
				default="80"
				label="COM_RSGALLERY2_JPEG_QUALITY_PERCENTAGE"
				description="COM_RSGALLERY2_JPEG_QUALITY_PERCENTAGE_DESC"
				class="">
		</field>
		<field
				name="allowedFileTypes"
				type="text"
				default="jpg,jpeg,gif,png"
				label="COM_RSGALLERY2_ALLOWED_FILETYPES"
				description  = "COM_RSGALLERY2_ALLOWED_FILETYPES_DESC"
				readonly="true"
				class="readonly"
		>
		</field>
		<field
				name="keepOriginalImage"
				type="radio"
				default="0"
				label="COM_RSGALLERY2_KEEP_ORIGINAL_IMAGE"
				description=""
				class="btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<!-- ... block general section ... -->

		<field
				name="note_upload_general"
				type="note"
				class="alert alert-primary"
				close="true"
				label="COM_RSGALLERY2_CFG_UPLOAD_GENERAL"
				description="COM_RSGALLERY2_CFG_UPLOAD_GENERAL_DESC"
		/>

		<field
				name="ftp_path"
				type="text"
				default=""
				label="COM_RSGALLERY2_FTP_PATH"
				description="COM_RSGALLERY2_FTP_PATH_DESC"
				class="input-large-text input-xxlarge"
		>
		</field>
		<!-- ... block location ... -->

		<field name="note_upload_location"
			   type="note"
			   class="alert alert-primary"
			   close="true"
			   label="COM_RSGALLERY2_CFG_IMAGES_LOCATION"
			   description="COM_RSGALLERY2_CFG_IMAGES_LOCATION_DESC"
		/>

		<field
				name="imgPath_root"
				type="text"
				default="images/rsgallery2"
				label="COM_RSGALLERY2_CFG_ROOT_LOCATION"
				description="COM_RSGALLERY2_CFG_ROOT_LOCATION_DESC"
				class="input-large-text input-xxlarge"
		>
		</field>

		<!-- ... block  ... -->

		<field name="note_images_outdated"
			   type="note"
				   class="alert alert-error"
			   close="true"
			   label="COM_RSGALLERY2_IMAGE_PATH_J3X_DEPRECATED"
			   description="COM_RSGALLERY2_IMAGE_PATH_J3X_DEPRECATED_DESC"
		/>

		<field
				name="useJ3xOldPaths"
				type="radio"
				default="0"
				label="COM_RSGALLERY2_USE_J3X_PATHS"
				description="COM_RSGALLERY2_USE_J3X_PATHS_DESC"
				class="btn-group btn-group-yesno">
			<option value="1">JYES</option>
			<option value="0">JNO</option>
		</field>

		<field
				name="imgPath_original"
				type="text"
				default="/images/rsgallery/original"
				label="COM_RSGALLERY2_ORIGINAL_IMAGE_PATH"
				description=""
				class="input-large-text input-xxlarge"
		>
		</field>
		<field
				name="imgPath_display"
				type="text"
				default="/images/rsgallery/display"
				label="COM_RSGALLERY2_DISPLAY_IMAGE_PATH"
				description=""
				class="input-large-text input-xxlarge"
		>
		</field>
		<field
				name="imgPath_thumb"
				type="text"
				default="/images/rsgallery/thumb"
				label="COM_RSGALLERY2_THUMB_PATH"
				description=""
				class="input-large-text input-xxlarge"
		>
		</field>
	</fieldset>

	<!-- ... Tab Galleries view ................................. -->

	<fieldset
			name="GalleriesView"
			label="COM_RSGALLERY2_FIELD_GALLERIES_VIEW"
			description="COM_RSGALLERY2_FIELD_GALLERIES_VIEW_DESC"
	>

		<field name="intro_text"
			   type="editor"
			   label="COM_RSGALLERY2_INTRODUCTION_TEXT"
			   description="COM_RSGALLERY2_INTRODUCTION_DESC"
			   filter="JComponentHelper::filterText"
			   buttons="false"
		/>
	</fieldset>

	<!-- ... Tab Images ................................. -->

	<fieldset
			name="Images"
			label="COM_RSGALLERY2_FIELD_IMAGE_OPTIONS_VIEW"
			description="COM_RSGALLERY2_FIELD_IMAGE_OPTIONS_VIEW_DESC"
	>
	<field
			type="spacer"
			name="spacer_images_01"
			hr="true"
	/>

		<!-- ... block  ... -->

		<field name="note_images_upload"
		   type="note"
		   class="alert alert-primary"
		   close="true"
		   label="COM_RSGALLERY2_CFG_IMAGE_UPLOAD"
		   description="COM_RSGALLERY2_CFG_IMAGE_UPLOAD_DESC"
	/>
	</fieldset>

	<!-- ... Tab findings ................................. -->

	<fieldset
			name="findings"
			label="findings"
			description="findings description:  May be needed so i put it here"
	>
		<field
				type="spacer"
				name="spacer_findings_01"
				hr="true"
		/>

		<!-- ... block  ... -->

		<field name="media_query_page_width" type="note" class="alert alert-primary" close="true" label="LOREMIPSUM" description="Page Widths: 320px, 480px, 600px, 768px, 900px, 1024px, 1200px," />

		<!-- ... block  ... -->

		<field name="media_query_" type="note" class="alert alert-dark" close="true" label="LOREMIPSUM" description="https://www.toptal.com/responsive-web/introduction-to-responsive-web-design-pseudo-elements-media-queries" />

	</fieldset>

	<!-- ... Tab 01 ................................. -->

	<fieldset
			name="TestInner01"
			label="TestInner01"
			description="Testinner 01 description"
	>
		<field type="spacer" name="test_innier_01" hr="true" />
		<field name="jpegQuality" type="text" label="COM_RSGALLERY2_JPEG_QUALITY_PERCENTAGE" description="COM_RSGALLERY2_JPEG_QUALITY_PERCENTAGE_DESC" class=""></field>
		<field name="media_query_01" type="note" class="alert alert-primary" close="true" label="LOREMIPSUM" description="primary" />
		<field name="jpegQuality" type="text" label="COM_RSGALLERY2_JPEG_QUALITY_PERCENTAGE" description="COM_RSGALLERY2_JPEG_QUALITY_PERCENTAGE_DESC" class=""></field>
		<field name="media_query_02" type="note" class="alert alert-secondary" close="true" label="LOREMIPSUM" description="secondary " />
		<field name="jpegQuality" type="text" label="COM_RSGALLERY2_JPEG_QUALITY_PERCENTAGE" description="COM_RSGALLERY2_JPEG_QUALITY_PERCENTAGE_DESC" class=""></field>
		<field name="media_query_03" type="note" class="alert alert-success" close="true" label="LOREMIPSUM" description="success" />
		<field name="jpegQuality" type="text" label="COM_RSGALLERY2_JPEG_QUALITY_PERCENTAGE" description="COM_RSGALLERY2_JPEG_QUALITY_PERCENTAGE_DESC" class=""></field>
		<field name="media_query_04" type="note" class="alert alert-danger" close="true" label="LOREMIPSUM" description="danger" />
		<field name="jpegQuality" type="text" label="COM_RSGALLERY2_JPEG_QUALITY_PERCENTAGE" description="COM_RSGALLERY2_JPEG_QUALITY_PERCENTAGE_DESC" class=""></field>
		<field name="media_query_05" type="note" class="alert alert-warning" close="true" label="LOREMIPSUM" description="warning" />
		<field name="jpegQuality" type="text" label="COM_RSGALLERY2_JPEG_QUALITY_PERCENTAGE" description="COM_RSGALLERY2_JPEG_QUALITY_PERCENTAGE_DESC" class=""></field>
		<field name="media_query_06" type="note" class="alert alert-info" close="true" label="LOREMIPSUM" description="info" />
		<field name="jpegQuality" type="text" label="COM_RSGALLERY2_JPEG_QUALITY_PERCENTAGE" description="COM_RSGALLERY2_JPEG_QUALITY_PERCENTAGE_DESC" class=""></field>
		<field name="media_query_07" type="note" class="alert alert-light" close="true" label="LOREMIPSUM" description="light" />
		<field name="jpegQuality" type="text" label="COM_RSGALLERY2_JPEG_QUALITY_PERCENTAGE" description="COM_RSGALLERY2_JPEG_QUALITY_PERCENTAGE_DESC" class=""></field>
		<field name="media_query_08" type="note" class="alert alert-dark" close="true" label="LOREMIPSUM" description="dark" />
		<field name="jpegQuality" type="text" label="COM_RSGALLERY2_JPEG_QUALITY_PERCENTAGE" description="COM_RSGALLERY2_JPEG_QUALITY_PERCENTAGE_DESC" class=""></field>

	</fieldset>

	<!-- ... Tab 02 ................................. -->

	<fieldset
			name="TestInner02"
			label="TestInner02"
			description="TestInner01 description"
	>
		<field type="spacer" name="test_innier_02" hr="true" />
		<!-- ... block  ... -->

		<field name="note31" type="note" class="alert alert-dark" close="true" label="LOREMIPSUM" description="02_LOREMIPSUM_DESC" />
	</fieldset>

	<!-- ... Tab Permissions ................................. -->

	<fieldset
		name="permissions"
		label="JCONFIG_PERMISSIONS_LABEL"
		description="JCONFIG_PERMISSIONS_DESC"
		>

		<!-- ... block  ... -->

		<!-- field name="note31" type="note" class="alert alert-dark" close="true" label="LOREMIPSUM" description="02_LOREMIPSUM_DESC" /-->

		<field
			name="rules"
			type="rules"
			label="JCONFIG_PERMISSIONS_LABEL"
			validate="rules"
			filter="rules"
			component="com_rsgallery2"
			section="component"
		/>

	</fieldset>
</config>
