// _Rsg2_sidebar.scss


.sidebar-nav {

  overflow-y: hidden;

  ul {

    padding-left: 0.0rem;
  }

  li {

    //padding: 0.35rem 0rem 0.35rem 0rem;

    padding: 0;

    a {

      //    padding: 0;
      padding: 0 0.12rem 0 0.12rem;

    }

    a::before {

      //  background: #00c4ff;
      //  list-style-type: none;
      display: none;

    }
  }
}

#j-toggle-sidebar {

  display: none;
}