// responsible for moveJ3xImages, dbtransferj3xgalleries, dbtransferj3ximages, dbcopyj3xconfig

@import "Rsg2";

// thin icons no padding
@import "Rsg2_sidebar";

/**/
.btn-rsg2X {
  //  min-width: 220px;
}

/**/

[class^="icon-"] {
  margin-right: 5px;
}

//--- moveJ3xImages --------------------------------------------------------

.allJ3xMovedArea {

  padding: 50px 0 0 0;

  //  border: 1px solid red;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.allJ3xMovedText {

  padding: 50px 25px;
  font-size: 1.5em;
  border: 2px solid black;
  border-radius: 0.4rem;

  box-shadow: 4px 7px #888888;
}

//--- dbtransferj3xgalleries --------------------------------------------------------


.j-main-container {

}

.j3x-info-card {

  //  max-width: 36rem;
  max-width: 48rem;
  //  max-width: 64rem;
  margin-bottom: 1rem;
  //  border: 5px solid lightsalmon !important;

}

.j3x-galleries-card {

  margin-bottom: 1rem;
  // margin-top: 120px;
  //  border: 5px solid red !important;
}

.j3x-galleries-as-tree-card {

  margin-bottom: 1rem;
  // margin-top: 120px;
  //  border: 5px solid orangered !important;
}

.j3x-galleries-as-raw-card {

  margin-bottom: 1rem;
  // margin-top: 120px;
  //  border: 5px solid cornflowerblue !important;
}

.j4x-info-card {

  max-width: 36rem;
  margin-bottom: 1rem;
  //  border: 5px solid lightblue !important;
}

.j4x-galleries-card {
  margin-bottom: 1rem;
  //  border: 5px solid blue !important;
}


//--- dbtransferj3ximages --------------------------------------------------------

//--- dbcopyj3xconfig --------------------------------------------------------

// test

